<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header"/>








<div class="row">
    <div class="col-md-2">
        <nav class="nav-sidebar  nav-justified">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin">Admin</a></li>
                <li class=""><a href="/user" >User</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10">
        <h1>Admin panel</h1>
<br/>











        <div class="container-fluid">
            <div class="row">

                    <!-- tabs -->
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">Users table</a></li>
                            <li><a href="#two" data-toggle="tab">New User</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                                <h4>&nbsp;&nbsp;&nbsp;&nbsp;All users</h4>


                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr class="active">
                                        <th class="">id</th>
                                        <th class="">Login</th>
                                        <th class="">Name</th>

                                        <th class="">Password</th>
                                        <th class="">Role</th>
                                        <th class="">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.id}">id</td>
                                        <td th:text="${user.login}">name</td>
                                        <td th:text="${user.name}">login</td>
                                        <td th:text="${user.password}">login</td>
                                        <td th:text="${user.getRoles().toArray()[0].getRoleName()}">login</td>
                                        <td style="text-align:center;">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal" contenteditable="false">Edit</button>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Edit</button>
                                            <a th:href="'/admin/delete/' + ${user.id}"><button type="button" class="btn btn-primary">Delete</button></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>




                            </div>
                            <div class="tab-pane" id="two">
                                <div>
                                    <label>ADDING FORM</label>
                                    <br/>

                                    <div th:if="${param.error}">
                                        <div>
                                            <p>All fields must be filled.</p>
                                        </div>
                                    </div>
                                    <form th:action="@{/admin/add}" method="post">
                                        <div>
                                            <label>Name</label>
                                        </div>
                                        <div>
                                            <input  type="text" name="name" required="true"/>
                                        </div>

                                        <div>
                                            <label>Login</label>
                                        </div>
                                        <div>
                                            <input  type="text" name="login" required="true"/>
                                        </div>

                                        <div>
                                            <label>Password</label>
                                        </div>
                                        <div>
                                            <input  type="text" name="password" required="true"/>
                                        </div>

                                        <div>
                                            <label>Role</label>
                                        </div>
                                        <div>
                                            <select  name="role">
                                                <option></option>
                                                <option>User</option>
                                                <option>Admin</option>
                                            </select>
                                        </div>
                                        <br/>
                                        <div>
                                            <input  type="submit" value="Add"/>
                                            <a  href="/admin">Back</a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            </div>
                    </div>

            </div>
        </div>















    </div>
</div>


<!-- tab content -->








<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <p>'od100 modal content'</p>
        </div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                <h4 class="modal-title" id="myModalLabel">User edit</h4>

            </div>
            <div class="modal-body">
                <p>'od100 modal body'</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".btn[data-target='#myModal']").click(function() {
        var columnHeadings = $("thead th").map(function() {
            return $(this).text();
        }).get();
        columnHeadings.pop();
        var columnValues = $(this).parent().siblings().map(function() {
            return $(this).text();
        }).get();
        var id100 = columnValues[0];
        var login100 = columnValues[1];
        var name100 = columnValues[2];
        var pasword100 = columnValues[3];
        var role100 = columnValues[4];
        console.log('id = ' + id100);
        console.log('login = ' + login100);
        console.log('name = ' + name100);
        console.log('password = ' + pasword100);
        console.log('role = ' + role100);
        var modalBody = $('<div id="modalContent"></div>');
        var modalForm = $('<form role="form" name="modalForm" action="/admin/edit" method="post" ></form>');
        $.each(columnHeadings, function(i, columnHeader) {
            var formGroup = $('<div class="form-group"></div>');
            formGroup.append('<label for="'+columnHeader+'">'+columnHeader+'</label>');
            formGroup.append('<input class="form-control" name="'+columnHeader+i+'" id="'+columnHeader+i+'" value="'+columnValues[i]+'" />');
            modalForm.append(formGroup);
        });
        modalBody.append(modalForm);
        $('.modal-body').html(modalBody);


    });
    $('.modal-footer .btn-primary').click(function() {
        $('form[name="modalForm"]').submit();
    });
</script>


<br/>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>